*{
    margin:0;
    padding:0;
}

@keyframes click{
    from{border-radius:0}
    50%{border-radius:25%}
    to{border-radius:50%}
}
.wrapper{
    width:1000px;
    height:300px;
    background-color:green;

}

.keyboard{
    margin:0 10%;
}

.key{
    background-color: rgba(0,0,0,0.2);
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 24px;
    vertical-align: top;
    margin: 3px
}

.key--active{
    background-color:orange;
    color:white;
    animation: click 0.2s linear;
    border-radius:50%;
}

.key--special{
    background-color:rgb(0,0,0);
    color:gray;
    height:40px;
    width:43px;
    text-align:center;
    font-size:14px;
}

.textarea{
    width:80%;
    margin:5% 10%;
    height:200px;
    overflow:scroll;
}

.key--wide{
    background-color:rgb(0,0,0);
    color:gray;
    height:40px;
    width:89px;
    text-align:center;
    font-size:14px;
}

.key--space{
    width:300px;
    background-color:rgba(0,0,0,0.2);
    color:transparent;
}

.key:active{
    background-color:orange;
    color:white;
    animation: click 0.5s linear;
    border-radius:50%;
}
.key:hover{
    cursor: pointer;

}

.keyboard__row{
    width:100%;
    height:20%;
}